[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.table-scroll-wrapper {
  position:relative;
}

.table-scroll {
  overflow:auto;
}

/*label, input {
    display: block;
}*/

/*label {
    margin-bottom: 20px;
}*/

input {
    margin-bottom: 20px;
}

.panelorange {
  background-color: orange;
}
.panel-body {
  min-width: 200px;
  width: 200px;
}
div.panel-heading {
  /*background-color: white;*/
  background: white;
}
.panel-default {
    display: inline-block;
    /*background: #ffffff;*/
    background: white;
    min-height: 200px;
    height: 300px;
    box-shadow:0px 0px 5px 5px #C9C9C9;
    -webkit-box-shadow:2px 2px 5px 5x #C9C9C9;
    -moz-box-shadow:2px 2px 5px 5px #C9C9C9;
    margin: 40px;
    padding: 10px;

}
/*#bg {
  position: fixed;
  top: 0;
  left: 0;

   Preserve aspet ratio
  min-width: 100%;
  min-height: 100%;
}*/
/*

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  min-width: 50%;
  min-height: 50%;
}
.navbar{
  background-color: transparent;
  color: rgb(0,0,0);

  margin-bottom: 0 !important;
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
}
/*}
body {
  margin: 0px;
}
#header h1{
    margin:0px;
}
nav {
  margin: 0;
  padding: 0;

}
.navbar-collapse {
  margin:0;
  padding: 0;
}
div {
  padding: 0;
  margin: 0;
}
img {
  padding: 0;
}*/
/*.navbar-collapse {
  margin-bottom: 0;
  padding-bottom: 1000px;
}*/
/*div.collapse navbar-collapse.img{

    max-height: 40px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;

}*/


/*@media screen and (max-width: 1024px) {  Specific to this particular image
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  /*}*/ /*/
/*.row-header {
  position:absolute;
  z-index: 2;
  left: -30px;
  width: 60px;
}*/
