[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.table-scroll-wrapper {
  position:relative;
}

.table-scroll {
  overflow:auto;
}

/*label, input {
    display: block;
}*/

/*label {
    margin-bottom: 20px;
}*/

input {
    margin-bottom: 20px;
}
/*.row-header {
  position:absolute;
  z-index: 2;
  left: -30px;
  width: 60px;
}*/
