[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.table-scroll-wrapper {
  position:relative;
}

.table-scroll {
  overflow:auto;
}

/*label, input {
    display: block;
}*/

/*label {
    margin-bottom: 20px;
}*/

input {
    margin-bottom: 20px;
}
/*#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  
   Preserve aspet ratio 
  min-width: 100%;
  min-height: 100%;
}*/
/*
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
/*@media screen and (max-width: 1024px) {  Specific to this particular image 
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  /*}*/ /*/
/*.row-header {
  position:absolute;
  z-index: 2;
  left: -30px;
  width: 60px;
}*/
