html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  font-family: 'lato', sans-serif; }

nav.ng-scope {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.9);
  z-index: 1; }

div.header {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  background-image: url(../assets/books_compress.jpg);
  background-size: cover; }
  div.header div.centerbox {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: relative;
    text-align: center;
    color: white; }
    div.header div.centerbox h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 8em; }
