<style type="text/css" media="screen">
	#editor {
		position: relative;
		;
		width: 500px;
		height: 500px;
		background-color: #333;
		float: right;
		color: white;
	}
</style>

<div class="container">
	<h2>Registered Competition</h2>
	<!DOCTYPE html> ]

	<div class="row">
		<div class="panel panel-default ">
			<div class="panel-heading">
				<a href="#/competitions/{{competition._id}}">{{competition.name}}</a>
			</div>
			<div class="panel-body">
				{{competition.prompt}}
				<div class="center-cropped" style="background-image: url({{competition.image}});">
					<img src="{{competition.image}}" />
				</div>
				<h5><font color = "red">Ends: </font>{{competition.end_date}}<h5>
      		<form ng-submit="unregister()" style="margin-top:2px;">
      			<button type="submit" class="btn btn-warning">Cancel</button>
      		</form>
      	</div>
      </div>
        <form ng-submit="submit()" style="margin-top:2px;">
      		<div class="form-group">
      			<label for="submission" class="col-sm-2 control-label">Submission</label>
      			<!-- ngmodel = -->
				<input type="submission" ng-model="link" class="form-control" id="submission" placeholder="Link to Submission" >
			</div>
      		<button type="submit" class="btn btn-success">Submit</button>
      	</form>
    </div>
</div>
