<div class="container">

  <div ng-hide="noCompetitions">

    <div ng-show="currentCompetitions">
      <h3>Current</h3>
      <div ng-repeat="competition in currentCompetitions">
        <p>{{competition.name}}: {{competition.prompt}}</p>
      </div>
    </div>

    <div ng-show="upcomingCompetitions">
      <h3>Upcoming</h3>
      <div ng-repeat="competition in upcomingCompetitions">
        <p>{{competition.name}}</p>
      </div>
    </div>

    <div ng-show="pastCompetitions">
      <h3>Past</h3>
      <div ng-repeat="competition in pastCompetitions">
        <p>{{competition.name}}: {{competition.prompt}}</p>
      </div>
    </div>
  </div>

  <div ng-show="noCompetitions">
    <h3>Looks like you haven't signed up for any competitions :(</h3>
  </div>

</div>
