<div class="container">

  <div ng-hide="noCompetitions">

    <div ng-show="currentCompetitions">
      <h2>Current Competitions</h2>
      <div class="row">
      <div ng-repeat="competition in currentCompetitions" class="col-xs-12 col-sm-6 col-md-3">
      	<div class = "panel panel-default ">
      		<div class = "panel-heading">
        		<a href="#/competitions/{{competition._id}}">{{competition.name}}</a>
        	</div>
        	<div class = "panel-body">
        		{{competition.prompt}}
        		<h5><font color = "red">Ends: </font>{{competition.end_date}}<h5>
        	</div>
        </div>
      </div>
  	</div>
    </div>

    <div ng-show="upcomingCompetitions">
      <h3>Upcoming Competitions</h3>
      <div class = "row">
	      <div ng-repeat="competition in upcomingCompetitions" class="col-xs-12 col-sm-6 col-md-3">
	      	<div class = "panel panel-default">
	        	<div class = "panel-heading">
	        		<a href="#/competitions/{{competition._id}}">{{competition.name}}</a>
	       		</div>
	       		<div class = "panel-body">
	       			{{competition.prompt}}
	       			<h5><font color = "green">Starts: </font>{{competition.start_date}}</h5>
	       		</div>
	       	</div>
	       </div>
      	</div>
    </div>

    <div ng-show="pastCompetitions">
      <h2>Past Competitions</h2>
      <div class = "row">
	      <div ng-repeat="competition in pastCompetitions" class="col-xs-12 col-sm-6 col-md-3">
	      	<div class = "panel panel-default" >
	        	<div class = "panel-heading">
	        		<a href="#/competitions/{{competition._id}}">{{competition.name}}</a>
	      		</div>
	      		<div class = "panel-body">
	      			{{competition.prompt}}
	      			<h5><font color = "blue">Ended: </font>{{competition.end_date}}</h5>
	      		</div>
	      	</div>
      	</div>
      </div>
    </div>
  </div>
  
  <div ng-show="noCompetitions">
    <h3>Looks like you haven't signed up for any competitions :(</h3>
  </div>
	<h2>Here are some suggestions</h2>
</div>
