

<div class="heading">
	<link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link type="text/css" rel="stylesheet" href="../../css/main.css"/>
	<div class="centerbox">
		<h1>Yepinn</h1>

		<h2>Redefining extracurricular education through club competitions.</h2>
		<div class="buttons">
			<a href="#" scroll-to="about">Learn More</a>
			<a href="#">Start Here</a>
		</div>
		
	</div>
</div>
<div id="about">
	<h2>About</h2>
	<div class="what">
		<h3>What we do</h3>
	</div>
	<div class="how">
		<h3>How we do it</h3>
		<div class="icons">
		</div>
	</div>
</div>
