<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

<div class="header">
	<div class="centerbox">
		<h1>Yeppinn</h1>
		<h2>Redefining extracurricular education through club competitions.</h2>
		<div class="buttons">
			<a href="#">Learn More</a>
			<a href="#">Start Here</a>
		</div>
	</div>
</div>
<div class="about">
	<h2>About</h2>
	<div class="what">
		<h3>What we do</h3>

	</div>
	<div class="how">
		<h3>How we do it</h3>
		<div class="icons">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</div>
