<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Pennguin</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <!--<li id="nav-display"><a id="nav-link-display" href="#/display">Display</a></li>
      <li id="nav-generate"><a id="nav-link-generate" href="#/generate">Generate</a></li>-->
      <li ng-hide="currentUser"><a ui-sref="login">Login</a></li>
      <li ng-show="currentUser"><a ng-click="logOut()">Log out</a></li>
    </ul>
  </div>
</div>
